<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snapschool.mlps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password" />
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_user_list" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile" />
        <activity
            android:name=".StudentProfileActivity"
            android:label="@string/title_activity_student_profile" />
        <activity
            android:name=".SubjectsActivity"
            android:label="@string/title_activity_subjects" />
        <activity
            android:name=".ClassRoutineActivity"
            android:label="@string/title_activity_class_routine" />
        <activity
            android:name=".AttendanceActivity"
            android:label="@string/title_activity_attendance" />
        <activity
            android:name=".ExamMarksActivity"
            android:label="@string/title_activity_exam_marks" />
        <activity
            android:name=".AccountingActivity"
            android:label="@string/title_activity_accounting" />
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile" />
        <activity
            android:name=".NoticeboardActivity"
            android:label="@string/title_activity_noticeboard" />
        <activity
            android:name=".StudentAccountingActivity"
            android:label="@string/title_activity_student_accounting" />
        <activity
            android:name=".StudentExamMarksActivity"
            android:label="@string/title_activity_student_exam_marks" />
    </application>

</manifest>
